name: Download HTML pages 6 minutes

on:
  schedule:
    - cron: '*/6 * * * *' # every hour
  workflow_dispatch:

permissions:
  contents: write   # allow pushing changes

jobs:
  download-pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create datos folder
        run: mkdir -p datos

        
      - name: Check ip
        run: |         
          curl https://ipinfo.io/ip
          
      - name: Download dolarhoy HTML
        run: |
          TIMESTAMP=$(date +%s)
          curl -s "https://dolarhoy.com/?t=${TIMESTAMP}" -o datos/dolarhoy6
          
      - name: Download dolarhoy cotis
        run: |
          TIMESTAMP=$(date +%s)
          curl -s "https://dolarhoy.com/cotizaciones?t=${TIMESTAMP}" -o datos/dolarhoycotizaciones6

      - name: Download dolarhoy cotis oficial
        run: |
          TIMESTAMP=$(date +%s)
          curl -s "https://dolarhoy.com/cotizacion-dolar-oficial?t=${TIMESTAMP}" -o datos/dolarhoy-oficial
          
      - name: Download dolarhoy mep
        run: |
          TIMESTAMP=$(date +%s)
          curl -s "https://dolarhoy.com/cotizacion-dolar-bolsa?t=${TIMESTAMP}" -o datos/dolarhoy-bolsa

      - name: Download dolarhoy ccl
        run: |
          TIMESTAMP=$(date +%s)
          curl -s "https://dolarhoy.com/cotizacion-dolar-ccl?t=${TIMESTAMP}" -o datos/dolarhoy-bolsa

      - name: Download IOL 
        run: |
          curl -sL https://iol.invertironline.com/mercado/cotizaciones/argentina/monedas -o datos/iol2

      - name: Download IOL ar
        run: |
          curl -sL https://iol.invertironline.com/mercado/cotizaciones/argentina -o datos/iol-mer-ar

      - name: Download IOL us
        run: |
          curl -sL https://iol.invertironline.com/mercado/cotizaciones/estados-unidos -o datos/iol-mer-us        

      - name: Download IOL monedas
        run: |
          curl -sL https://iol.invertironline.com/mercado/cotizaciones/argentina/monedas -o datos/iol-mon-ar         

      - name: ambito dolares
        run: |
          declare -A urls=(
          [oficial]="https://mercados.ambito.com//dolar/oficial/variacion"
          [blue]="https://mercados.ambito.com//dolar/informal/variacion"
          [bolsa]="https://mercados.ambito.com//dolarrava/mep/variacion"
          [contadoconliqui]="https://mercados.ambito.com//dolarrava/cl/variacion"
          [mayorista]="https://mercados.ambito.com//dolar/mayorista/variacion"
          [tarjeta]="https://mercados.ambito.com//dolarturista/variacion"
          [cripto]="https://mercados.ambito.com//dolarcripto/variacion"
          [riesgopais]="https://mercados.ambito.com/riesgopais/historico-general/1/,"
          [lideres]="https://mercados.ambito.com/acciones/lideres"
          [general]="https://mercados.ambito.com/acciones/nolideres"
          [riesgopais_week]="https://mercados.ambito.com//riesgopais/grafico/semanal"
          [riesgopais_ultimo]="https://mercados.ambito.com//riesgopais/variacion-ultimo"
          [dolares_infobae]="https://www.infobae.com/pf/api/v3/content/fetch/dolar-managment?query=undefined&d=&mxId=00000000&_website=infobae"
          )        
          for name in "${!urls[@]}"; do
            echo "${urls[$name]}"
            curl -m 20 -s --fail --show-error "${urls[$name]}" -o "datos/$name.json"
            if [ $? -ne 0 ]; then
              echo "Curl error: $error_output"
            fi
          done

      - name: dolar hoy
        run: |
          declare -A urls=(
          [dolar-blue]="https://dolarhoy.com/i/cotizaciones/dolar-blue"
          [dolar-oficial]="https://dolarhoy.com/i/cotizaciones/dolar-oficial"
          [dolar-mep]="https://dolarhoy.com/i/cotizaciones/dolar-mep"
          [dolar-contado-con-liquidacion]="https://dolarhoy.com/i/cotizaciones/dolar-contado-con-liquidacion"
          [bitcoin-usd]="https://dolarhoy.com/i/cotizaciones/bitcoin-usd"
          [banco-nacion]="https://dolarhoy.com/i/cotizaciones/banco-nacion"
          )        
          for name in "${!urls[@]}"; do
            echo "${urls[$name]}"
            curl -m 20 -s "${urls[$name]}" -o "datos/$name.html"
          done

      - name: Commit and push if changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add *
          git commit -m "Update downloaded HTML pages" || echo "No changes to commit"
          git push
